<html>
<head>
<script src="/angular/angular.js"></script>
<script src="/angular/angular-route.js"></script>
<script src="/app.js"></script>
<script src="/Controllers.js"></script>

<script>
function validateZip()
{
var zip=document.getElementById('zip').value;
var length = zip.length;
if(isNaN(zip)|| length!=5)
{
alert("Enter a Valid zip code! ");
return false;
}
}
</script>
</head>
<body >
<div ng-app='myApp' ng-controller="user_profile" >
{{test}}
<a href = "/user">User </a><br/>
<div ng-view></div>
</div>
<a href="/auth/github">Login</a>
<form method="post">
US Zip Code <input type=text id="zip" name="zip"></input></br>
<input type="submit" id="search" value="Submit" onclick = "return validateZip()" > </input> 
</form>
</body>
</html>
